.tb{
	text-align: center;
}
.button-class{
	background-image: url("hp1.jpeg");
	opacity:1.0;
	background-size:100%;
	background-position: 100%;
}
.body-class{
	background-image: url("hp.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	opacity:1.0;
	background-size:100%;
	background-position: 100%;
}
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label{
	align-items: right;
}
input{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}
textarea{
	background: transparent;
}
select{
	border: 0;
	outline 0;
	background: transparent;
	border-bottom: 1px solid black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}
.active{
	background-color: green;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    background-color: red;
}